<h1>Post a Secret!</h1>

<form action="<%= secret_url %>" method="post" accept-charset="utf-8">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <label>Title<input id="secretText" type="text" name="secret[title]"></label>
  <input type="hidden" name="secret[recipient_id]" value="<%=@user.id%>">
  <div id='tags' >
    <select class='menu' name=tags[body][]>
      <% @tags.each do |tag|  %>
      <option value="<%= tag %>"><%= tag %></option>
      <% end %>
    </select>
  </div>
  <a href id='addTag'>Add A Tag</a href>
  <p><input type="submit" value="Submit"></p>
</form>


<script>
var menu = $('.menu')[0].outerHTML

$('#addTag').on('click', function(event){
  event.preventDefault();
  $('#tags').append(menu)

})
</script>